In [1]:
import pandas as pd
import glob

In [2]:
#caminho da leitura
path = r'D:\Dropbox\Pessoal\Python\COVID\COVID19-SP-BR\Dados'
files = glob.glob(path + "/*.xlsx")

In [3]:
#Importação do dataframe padrao
df = pd.read_excel(r"D:\Dropbox\Pessoal\Python\COVID\COVID19-SP-BR\tabelas_analise\tabela_base.xlsx", index_col=0)

In [4]:
df.head()

,26_mar,27_mar,28_mar,29_mar,30_mar,01_abr,02_abr,03_abr,04_abr,05_abr,...,19-jun,20-jun,21-jun,22-jun,23-jun,24-jun,25-jun,26-jun,27-jun,28-jun
adamantina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adolfo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aguai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aguas da prata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aguas de lindoia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Para cada coluna do DF padrão procura a correnpondência no arquivo de dados e adiciona onde houver correspondência entre
# o nome do arquivo e a coluna padrão assim como onde o nome da cidade for semelhante entre os dois

# iterando entre as colunas
for col in list(df.columns):
    
    #iterando entre os arquivos
    for file in files:
        f = pd.read_excel(file, index_col=0, header= None)
        
        #criação de um dicionário para armazenar o valor e a chave
        d = dict(f[1])
        
        #verificando se o nome do arquivo tem correspondência com alguma coluna
        if file.rpartition('\\')[2].replace(".xlsx", "") == col:
            
            # se houver itera entre as chaves do dicionário e adiciona o valor dele na coluna do DF padrão
            for i in d:
                try:
                    df.loc[i, col] = d.get(i)
                except:
                    continue

In [10]:
df.fillna(0, inplace = True)

In [11]:
df.to_csv(r"D:\Dropbox\Pessoal\Python\COVID\COVID19-SP-BR\tabelas_analise\infectados_municipio.csv")

In [15]:
df.columns

Index(['26_mar', '27_mar', '28_mar', '29_mar', '30_mar', '01_abr', '02_abr',
       '03_abr', '04_abr', '05_abr', '06_abr', '07_abr', '08_abr', '09_abr',
       '10_abr', '11_abr', '12_abr', '13_abr', '14_abr', '15_abr', '16_abr',
       '17_abr', '18_abr', '19_abr', '20_abr', '21_abr', '22_abr', '23_abr',
       '24_abr', '25_abr', '26_abr', '27_abr', '28_abr', '29_abr', '30_abr',
       '01_mai', '02_mai', '03_mai', '04_mai', '05_mai', '06_mai', '07_mai',
       '08_mai', '09_mai', '10_mai', '11_mai', '12_mai', '13_mai', '14_mai',
       '15_mai', '16_mai', '17_mai', '18_mai', '19_mai', '20_mai', '21_mai',
       '22_mai', '23_mai', '24-mai', '25-mai', '26-mai', '27-mai', '28-mai',
       '29-mai', '30-mai', '31-mai', '01-jun', '02-jun', '03-jun', '04-jun',
       '05-jun', '06-jun', '07-jun', '08-jun', '09-jun', '10-jun', '11-jun',
       '12-jun', '13-jun', '14-jun', '15-jun', '16-jun', '17-jun', '18-jun',
       '19-jun', '20-jun', '21-jun', '22-jun', '23-jun', '24-jun', '25-jun',
       '26-jun', '27-jun', '28-jun'],
      dtype='object')